.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* COLOR GLOBAL */

h1,
h2,
h3,
h4,
h5,
h6,
.section-title h2,
.section-title h3,
.tbl-pricing .tbl-prc-col .tbl-prc-list,
#header .nav>li>a,
#header .nav>li>a:hover {
  color: #000;
}

.wrap-bg-primary,
.course-price,
.carousel-slider.gallery-slider .slick-dots li.slick-active button,
.carousel-slider.projects-slider .slick-dots li.slick-active button,
#testimonials .slick-dots li.slick-active button,
.themeioan_event .date,
.color-two {
  background: #2c489a;
}

#members .item,
.color-three,
.color-three:hover,
.btn-1c:after,
.themeioan_blog .blog-content,
.tbl-pricing .tbl-prc-col .tbl-prc-wrap,
.themeioan_event .event-content,
.themeioan_services .blog-content,
.themeioan_blog .blog-content,
#header .navbar-default .navbar-toggle .icon-bar,
.video-btn:hover,
.color-three {
  background-color: #ffffff;
}

.wrap-bg-primary .section-title span,
.wrap-bg-primary .section-title h2,
.wrap-bg-primary .section-title p,
.course-price,
.header-content .header-text,
.header-content .header-text h1,
.header-content .header-text p,
.f-widget-title h4,
.themeioan_event .date h4,
.text-white,
.text-white h2,
.text-white .section-title p,
.section-title.text-white p,
.call-to-action-content h3,
.header-area .header-area-inner .subtitle,
.header-area .header-area-inner .title,
.header-content.page-header-content .page-header-text p,
.video-btn,
.wrap-bg.wrap-bg-parallax,
.color-one:hover,
.color-two,
.color-two:hover,
.btn-1c,
.header-area .header-area-inner p {
  color: #ffffff;
}

a:hover,
#header .navbar-nav>li>a:hover,
#header .navbar-default .navbar-nav>li>a:hover,
.secondary-color,
.section-title span,
.base-color,
#header .navbar-nav a.active,
#header .active,
.header-content.page-header-content .page-header-text h1,
.header-content.page-header-content .page-header-text h2,
.header-content.page-header-content .page-header-text h3,
.header-content.page-header-content .page-header-text h4,
.header-content.page-header-content .page-header-text h5,
.header-content.page-header-content .page-header-text h6,
.video-btn:hover,
.btn-1c:active,
.single-features-light .feature_link a,
.readmore,
.themeioan_event ul li i,
.themeioan_ul_icon i,
.course-viewer ul li i{
  color: #2c489a;
}


ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none
}

figure {
  margin: 0px;
}

figure img {
  width: 100%;
}

figure iframe {
  overflow: hidden;
  width: 100% !important;
  background-color: #f4f4f4;
  border: 2px solid #e9e9e9;
}

video {
  width: 100%;
  height: auto;
}

.center-column {
  margin: 70px auto 0px auto;
}

.content-button {
  margin: 60px auto 0px auto;
  max-width: 250px;
}

.themeioan_ul_icon {
  margin-top:15px;
}
.themeioan_ul_icon li {
  line-height: 33px;
  font-size: 16px;
  color: #000000;
}

.themeioan_ul_icon i,
.course-viewer ul li i {
  padding-right: 3px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-60 {
  margin-bottom: 60px;
}
.fullcontainer {
  padding:0 30px;
}
.text-left {
  text-align: left;
}
.text-left .section-title p {
  margin:0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.relative {
  position:relative;
}
.relative .bottom-round {
  z-index:2;
}
.bg-start-dark {
  padding: 3px 10px!important;
  display: inline-block!important;
  border-radius:50px;
  background:#fff;
  margin-bottom:10px;
}
.bg-start-light {
  padding: 3px 10px!important;
  display: inline-block!important;
  border-radius:50px;
  color:#fff!important;
  background:#2c489a;
  margin-bottom:10px;
}
.base-color {
  font-weight:900;
}
.section-text-left p {
  margin-left:0px!important;
  margin-bottom:25px!important;
}
.section-text-left h3 {
  margin-bottom:15px!important;
}
#widget-call p {
  font-size:18px;
}
.call-to-action-content h3 {
  font-weight: 700;
  margin: 73px 0 25px;
  font-size: 36px;
  line-height: 1.2;
  text-transform: capitalize;
}

.call-to-action-area img {
  position: absolute;
  right: 0;
  height: 100%;
}

.call-to-action-btn a {
  display: inline-block;
  padding: 8px 15px 5px 15px;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 19px;
  margin-bottom: 80px;
  text-transform:uppercase;
  color:#fff;
  background:#2c489a;
}
.call-to-action-btn a:hover {
  background:#fff;
  color:#2c489a;
}
.cta-center {
  text-align:center;
  margin:0px auto;
}
.cta-center p {
  font-size: 18px;
}

.bg-cta {
  /*background: url(../images/content/breadcrumb/blog-detail.jpeg);*/
  background-position:center;
  background-size:cover;
  position:relative;
}
.black-layout {
  background: #000;
  color: #fff;
}
.black-layout .section-title p, .black-layout h1, .black-layout h2, .black-layout h3, .black-layout h4, .black-layout h5, .black-layout h6, .black-layout .section-title h2, .black-layout .section-title h3, .black-layout .tbl-pricing .black-layout .tbl-prc-col .black-layout .tbl-prc-list {
  color: #fff!important;
}
/*tags course*/

.wrap-bg-secondary {
  background:#131313;
}

.themeioan_services {
  transition: transform .3s cubic-bezier(.68, -.55, .265, 1.55);
}
.themeioan_services .mt-25 {
  margin-bottom:10px;
}

/*shadow hover all*/
.themeioan_services:active,
.themeioan_services:focus,
.themeioan_services:hover,
.single-features-light:hover,
.tbl-pricing .tbl-prc-col .tbl-prc-wrap:hover,
#members .item:hover {
  -webkit-box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.15);
}
/*end shadow*/


.navbar-nav li{
  padding: 10px 10px;
}